<h2>Enter Book Information:</h2>

<form asp-controller="book" asp-action="create" method="post">
  <div class="">
    <label for="bookTitle">Book Title</label>
    <input type="text" name="bookTitle">
  </div>
  <button type="submit">Save Book</button>
</form>
