<h2>Book Details:</h2>
<p>Name: @Model["selectedBook"].Title</p>

@if(Model["bookAuthors"].Count != 0)
{
  <ul>
  @foreach(var Author in Model["bookAuthors"])
  {
    <li>@Author.Name</li>
  }
  </ul>
}

      <form action='/books/@Model["selectedBook"].Id/delete-book' method='post'>
      <input type="hidden" name="BookId" value="@Model["selectedBook"].Id">
      <button type='submit'>Delete Book</button>
      </form>
